*
!.tmux
!.tmux/*
!.gitignore
!fish/config.fish
!i3blocks/config
!sway
!sway/*
!i3blocks/i3blocks.conf
!nvim
!nvim/*
!kitty/kitty.conf
!neofetch
!neofetch/*
!typst_template
!initialise_typst
!showbatt
!cool_swaylock
